<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  
  <title>Welcome to CovidTrackometer</title>
  <style>
    .submitbtn{
      margin-left: 414px !important;
      background-color: green;
    }
    
    /*.outerline{
      border: 1px solid;
      border-radius: 1px; 
      margin: 60px
      /* background-color: antiquewhite; 
    }*/
  
   .fullborder{
     background-color:aquamarine;
     
   }
   

  </style> 
</head>
<body class="fullborder">
  
  
  
    <h1 style="text-align:center;color:blue"> Covid Report</h1>
    <br>
  </br>
  &nbsp;&nbsp; <%= typeof msg != 'undefined' ? msg : '' %>
</br>
</br>


<div>
  

    
    <form action="/" method="POST" enctype="multipart/form-data">
      
    &nbsp;&nbsp;<button id="button1" type="submit" class="submitbtn" style="text-align:center"> Home</button>
      
    
    </form>
    
  </div>


  
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> 
  
</body>
</html>
